<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">%h CUPS</name>
  <service>
    <type>_ipp._tcp</type>
    <port>631</port>
  </service>
</service-group>
